.imgContainer {
	width: 100%;

	img {
		width: 100%;
		height: auto;
		max-height: 400px;
	}
}

.post {

	h1 {
		color: var(--title);
		font-weight: 700;
		font-size: 3rem;
	}

	h2 {
		font-weight: 600;
		color: var(--subtitle);
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	p {
		margin-bottom: 2rem;
	}

	.info {
		display: inline-block;
		margin: 2rem 1.25rem 4rem 0;
		color: var(--info);


		svg {
			margin-right: 0.5rem;
		}
	}
}
